hr {
    border: none;
    border-top: 1px solid @c-userpage-tabbar-sep;
}

.float-left {
    float: left;
}

.clearfix {}
.clearfix::after {
    display: table;
    clear: both;
    content: "";
}

.gray-thin {
    color: @c-text-gray;
    font-weight: lighter;
}
