@info-col-width: 230px;
@info-col-padding: 25px;

#userpage {
    margin-top: 10px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: (@info-col-width + @info-col-padding) 1fr;
}

#userpage-info {
    width: @info-col-width;

    margin-right: @info-col-padding;

    #userpage-info-avatar {
        box-sizing: border-box;
        width: @info-col-width;
        border-radius: 10px;
        margin-bottom: 15px;
    }

    h1 {
        font-weight: bold;
        font-size: 26px;
        margin: 0px 0px;
    }
    h2 {
        font-size: 20px;
        color: @c-text-gray;
        margin-top: 0px;
        margin-bottom: 10px;
    }
}

#userpage-tab-bar {
    display: block;
    height: 40px;
    padding: 0px;
    margin-bottom: 10px;

    border-bottom: 1px solid @c-userpage-tabbar-sep;

    li {
        display: inline-block;
        box-sizing: border-box;
        height: 100%;

        &.active {
            border-bottom: 3px solid @c-userpage-tabbar-active;
        }
        &:hover {
            border-bottom: 3px solid @c-userpage-tabbar-hover;
        }
        a {
            display: block;
            box-sizing: border-box;
            height: 100%;
            margin: 0px;
            padding: 4px 20px;

            text-decoration: none;
            color: @c-text-dark-gray;

            &:hover {
                color: @c-text-normal;
            }
        }
    }
}
