<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/main.css" />
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
<div id="tl-container">
    <div id="tl-header">
        <div class="tl-centered">
            {% include "header" %}
        </div>
    </div>
    <div id="tl-content">
        {% block raw_content %}
        <div class="tl-centered">
            {% block content %}
            {% endblock content %}
        </div>
        {% endblock raw_content %}
    </div>
    <div id="tl-footer">
        <div class="tl-centered">
            {% block footer %}
            &copy; Copyright 2017 by BasGit Developers.
            {% endblock footer %}
        </div>
    </div>
</div>
</body>
</html>
