{% extends "basket/base" %}

{% block title %}Settings [{{ content.owner }}/{{ content.name }}] – BasGit{% endblock title %}
{% block content %}{{ super() }}{% endblock content %}

{% block facade_content %}
    Hello Settings!
{% endblock facade_content %}
