{% extends "user/base" %}

{% import "user/tab_bar" as macros %}

{% block title %}{{ content.username }}{% if content.name %} ({{ content.name }}){% endif %} / Baskets – BasGit{% endblock title %}
{% block content %}{{ super() }}{% endblock content %}

{% block tab_content %}
    {{ macros::tab_bar(active="Baskets", url=content.username) }}
    <div id="basket-list">
        No baskets...
    </div>
{% endblock tab_content %}
