{% extends "user/base" %}

{% import "user/macros" as macros %}

{% block title %}{{ content.title_name }} / Baskets – BasGit{% endblock title %}
{% block content %}{{ super() }}{% endblock content %}

{% block tab_content %}
    {{ macros::tab_bar(active="Baskets", url=content.user_url) }}
    <div id="basket-list">
        No baskets...
    </div>
{% endblock tab_content %}
