{% extends "base" %}
{% block title %}Login – BasGit{% endblock title %}

{% block content %}
<div id="userpage">
    <div id="userpage-info">
        <img id="userpage-info-avatar" src="https://api.adorable.io/avatars/285/{{ content.username }}.png" />
        {% if content.name %}
            <h1>{{ content.name }}</h1>
        {% endif %}
        <h2>{{ content.username }}</h2>
    </div>
    <div>
        moar content
    </div>
</div>
{% endblock content %}
