{% extends "user/base" %}

{% import "user/tab_bar" as macros %}

{% block title %}{{ content.username }}{% if content.name %} ({{ content.name }}){% endif %} – BasGit{% endblock title %}
{% block content %}{{ super() }}{% endblock content %}

{% block tab_content %}
    {{ macros::tab_bar(active="Summary", url=content.username) }}
    <div id="userpage-pinned-baskets">
        <h2>Pinned Baskets</h2>
    </div>
{% endblock tab_content %}
