{% extends "user/base" %}

{% import "user/macros" as macros %}

{% block title %}{{ content.title_name }} – BasGit{% endblock title %}
{% block content %}{{ super() }}{% endblock content %}

{% block tab_content %}
    {{ macros::tab_bar(active="Overview", url=content.user_url) }}
    <div id="userpage-pinned-baskets">
        <h2>Pinned Baskets</h2>
    </div>
{% endblock tab_content %}
